<div class="container">
  <div class="row p-3">
    <div class="col-md-4">
    <h4><i class="fa fa-phone" aria-hidden="true"></i> (+880) 0287437284</h4>
    </div>
    <div class="col-md-4">
    <h4><i class="fa fa-envelope" aria-hidden="true"></i> sir@sir.com</h4>
    </div>
    <div class="col-md-4 text-end">
      <h5 >
      <!-- Facebook -->
    <i class="fab fa-facebook-f"></i>

    <!-- Twitter -->
    <i class="fab fa-twitter"></i>

    <!-- Google -->
    <i class="fab fa-google"></i>

    <!-- Instagram -->
    <i class="fab fa-instagram"></i>

    <!-- Linkedin -->
    <i class="fab fa-linkedin-in"></i>

    <!-- Pinterest -->
    <i class="fab fa-pinterest"></i></h5>
    </div>
    
  </div>
</div>